button.absolute.inset-y-0.right-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 50%;
    transform: translateY(-45%) translateY(2px);
}

button.absolute.inset-y-0.right-0 svg.size-6 {
    height: 1.5rem;
    width: 1.5rem;
}

.border-danger {
    border-color: red !important;
}

.custom-alert {
    max-width: 1300px;
    max-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: left;
}

.custom-alert::-webkit-scrollbar {
    width: 8px;
}

.custom-alert::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.custom-alert::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.break-words {
    word-wrap: break-word;
    white-space: normal;
}

a {
  text-decoration: none;
}
